section {
    padding: 4em 1%;
}
#szuro {
    margin: 0 0 2rem;
    display: flex;
    gap: 0.5em;
}
#eredmeny {
    display: flex;
    gap: 2em;
    justify-content: space-between;
}
#naptar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 1px dashed #444;
    border-right: 1px dashed #444;
    width: 60%;
    visibility: hidden;
}
#naptar .nap span {
    font-size: 1.5em;
}
#naptar .nap {
    aspect-ratio: 1;
    padding: 0.2em;
    border-top: 1px dashed #444;
    border-left: 1px dashed #444;
}
#naptar .nap.szallitas {
    background-color: #82f050;
    cursor: help;
}
#naptar .nap > div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.3em;
}
#naptar .nap > div img {
    width: 20px;
    cursor: help;
}
.canvas-wrapper {
    position: relative;
    flex: 1;
    max-height: 100%;
}
a#pdf-link {
    display: none;
}
@media only screen and (max-width: 1450px) {
    #date {
        display: block;
    }
}
@media only screen and (max-width: 1100px) {
    #eredmeny .canvas-wrapper {
        width: 80%;
    }
}
@media only screen and (max-width: 1000px) {
    #eredmeny .canvas-wrapper {
        width: 75%;
    }
}
@media only screen and (max-width: 870px) {
    #gomb {
        width: 158px;
    }
    #pdf-link {
        width: 140px;
    }
}
@media only screen and (max-width: 810px) {
    #szuro {
        margin: 1em 0;
    }
    #eredmeny .canvas-wrapper {
        width: 50%;
    }
    #eredmeny #szuro {
        margin-top: 0;
    }
    #eredmeny #naptar {
        width: 50%;
        text-align: -moz-center;
    }
    #szuro {
        display: grid;
    }
}
@media only screen and (max-width: 650px) {
    #eredmeny .canvas-wrapper {
        width: 90%;
        text-align: center;
    }
    #eredmeny {
        display: block;

    }
    #eredmeny #naptar {
        width: 100%;
        text-align: -moz-center;
    }
}
@media only screen and (max-width: 500px) {
    #eredmeny {
        display: block;
    }
    #eredmeny #naptar {
        width: 100%;
        margin-bottom: 2em;
    }
    .canvas-wrapper {
        display: block;
    }
    #eredmeny .canvas-wrapper {
        margin: auto;
    }
}